<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	
    <title>AWS EC2</title>
</head>
<body>
	<div style="width: 75%;">
		<canvas id="canvas"></canvas>
	</div>



		{{#costs}}
			{{key}}
			
				{{#value}}
			<li>		{{keys}} : ${{amount}}</li>
				{{/value}}
			
				<li>Total : ${{total}}</li>
			
		{{/costs}}
	<script>
		var label = new Array();
		var data = new Array();
		var name='';
		
		{{#costs}}
			label.push("{{key}}");
			data.push("{{total}}");
		{{/costs}}
	
		var config = {
			type : 'horizontalBar',
			data : {
				labels : label,
				datasets : [ {
					label : name,
					data : data,
		            backgroundColor: 'rgba(255, 128, 0, 0.2)',
		            borderColor: 'rgba(255, 128, 0, 1)',
		            fill : false,
				} ]
			},
			options : {
				responsive : true,
				tooltips : {
					mode : 'index',
					intersect : false,
				},
				hover : {
					mode : 'nearest',
					intersect : true
				},
				scales : {
					x : {
						display : true,
						scaleLabel : {
							display : true,
							labelString : 'Month'
						}
					},
					y : {
						display : true,
						scaleLabel : {
							display : true,
							labelString : 'Value'
						}
					}
				}
			}
		};

			var ctx = document.getElementById("canvas").getContext('2d');
			var canvas = new Chart(ctx, config);
	</script>




----------------------------------------------------------- <br>
<a href="http://localhost:8080/listEc2">인스턴스 목록</a><br>
----------------------------------------------------------- <br>
<a href="http://localhost:8080/logout">로그아웃</a><br>


</body>

</html>