<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


<script type="text/javascript"
	src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


<title>AWS EC2</title>
<style>
a {
	text-decoration: none;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: gray;
}

input {
	width: auto;
	text-align: center;
}
</style>

</head>
<body>


	<script type="text/javascript">
	$(function() {
	
	  $('input[name="datefilter"]').daterangepicker({

			    ranges: {
			        'Today': [moment(), moment()],
			        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
			        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
			        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
			        'This Month': [moment().startOf('month'), moment().endOf('month')],
			        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
			    },
			    "showCustomRangeLabel": false,
			    "alwaysShowCalendars": true,
			    "startDate": "01/01/2020",
			    "endDate": "01/02/2020"
			    
			}),
		$('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
				  console.log(picker.startDate.format('YYYY-MM-DD'));
				  console.log(picker.endDate.format('YYYY-MM-DD'));
				  
				  var startDate = picker.startDate.format('YYYY-MM-DD');
				  var endDate = picker.endDate.format('YYYY-MM-DD');
				 
				  location.href="http://localhost:8080/cost?startDate=" + startDate + "&endDate=" + endDate;

				  
				});
		
	});
	</script>

	<input type="text" name="datefilter" value="{{abc}}" />
	<div id="main">
		<div style="width: 50%;">
			<canvas id="canvas"></canvas>

		</div>


		<br>
		----------------------------------------------------------------------------------------------------------------------------------------------------------
		<script>
					var sum = 0;
					{{#costsExplorer}}
						{{#metricUsage}} 
							{{total}}
							sum+= {{total}};
							
						{{/metricUsage}}
					{{/costsExplorer}}
					document.write("<h2> SERVICE TOTAL : $" + sum  + "</h2>")
					</script>
		----------------------------------------------------------------------------------------------------------------------------------------------------------
		<br>
		<div style="position: absolute; top: 0; right: 0;">
			<h2>Filtering</h2>
			<li><a href="http://localhost:8080/cost">ALL</a></li>
			{{#costsExplorer}} {{#filterList}} {{#filters}}

			<li><a href="http://localhost:8080/cost?filter={{.}}">{{.}}</a></li>
			{{/filters}} {{/filterList}} {{/costsExplorer}}
		</div>


		<div>


			{{#costsExplorer}} {{#metricUsage}}
			<h2>{{date}}</h2>
			{{#metrics}}
			<li>{{key}} : ${{amount}}</li> {{/metrics}}

			<li>Total : ${{total}}</li> <br> {{/metricUsage}}
			{{/costsExplorer}}


		</div>



		----------------------------------------------------------- <br>
		<a href="http://localhost:8080/listEc2">인스턴스 목록</a> <br>
		----------------------------------------------------------- <br>
		<a href="http://localhost:8080/logout">로그아웃</a> <br>

	</div>




	<script>
		var label = new Array();
		var data = new Array();
		var name='';
		
		{{#costsExplorer}}
			{{#metricUsage}} 
				label.push("{{date}}");
				data.push("{{total}}");
			{{/metricUsage}}
		{{/costsExplorer}}
	
		var config = {
			type : 'bar',
			data : {
				labels : label,
				datasets : [ {
					label : 'Total',
					data : data,
		            backgroundColor: 'rgba(255, 128, 0, 1)',
		            borderColor: 'rgba(255, 128, 0, 0.5)',
		            fill : false,
				} ]
			},
			options : {
				responsive : true,
				tooltips : {
					mode : 'index',
					intersect : false,
				},
				hover : {
					mode : 'nearest',
					intersect : true
				},
				scales : {
					x : {
						display : true,
						scaleLabel : {
							display : true,
							labelString : 'Month'
						}
					},
					y : {
						display : true,
						scaleLabel : {
							display : true,
							labelString : 'Value'
						}
					}
				}
			}
		};

			var ctx = document.getElementById("canvas").getContext('2d');
			var canvas = new Chart(ctx, config);
	</script>



</body>

</html>