<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AWS EC2</title>
</head>

<body>

----------------------------------------------------------- <br>
   목록<br>
   {{#instances}}
    <li>
   <a href="http://localhost:8080/descEc2?instance_id={{instance_id}}">{{instance_id}}</a>
    {{state}} 
    </li> 
   {{/instances}} <br>
----------------------------------------------------------- <br>

<a href="http://localhost:8080/createEc2">인스턴스 생성</a><br>

----------------------------------------------------------- <br>
<a href="http://localhost:8080/logout">로그아웃</a><br>


</body>



</html>