<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AWS EC2</title>
</head>

<script>
	function check(){
		//document.AdminSuccess.action="editAdmin/"+id;
		if(document.querySelector('input[name="filter"]:checked')){
		const filter = document.querySelector('input[name="filter"]:checked').value
		location.href="./listEc2?filter="+filter;
		}
			
	}
</script>
<body>
<br>필터링<br>
ALL<input type = "radio" value = "all" checked name= "filter" onClick=check()>
RUNNING<input type = "radio" value = "running" name= "filter" onClick=check()>
STOPPED<input type = "radio" value = "stopped" name= "filter" onClick=check()>
TERMINATED<input type = "radio" value = "terminated" name= "filter" onClick=check()>
   <br>
   목록<br>
----------------------------------------------------------- <br>
   {{#instances}}
    <li>
   <a href="http://localhost:8080/descEc2?instance_id={{instance_id}}">{{instance_id}}</a>
    {{state}} 
    </li> 
   {{/instances}} <br>
----------------------------------------------------------- <br>

<a href="http://localhost:8080/createEc2">인스턴스 생성</a><br>

----------------------------------------------------------- <br>
<a href="http://localhost:8080/logout">로그아웃</a><br>


</body>



</html>