<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>main</title>
</head>

<body>
----------------------------------------------------------- <br>
User Name : {{#username}} {{.}} {{/username}} <br>
Instance ID : {{#instance_id}} {{.}} {{/instance_id}} <br>
----------------------------------------------------------- <br>
Status       : {{#status}} {{.}} {{/status}} <br>
Start Time   : {{#startTime}} {{.}} {{/startTime}} <br>
End Time     : {{#endTime}} {{.}} {{/endTime}} <br>
----------------------------------------------------------- <br>

<a href="http://localhost:8080/startEc2">EC2 Start</a><br>
<a href="http://localhost:8080/describeEc2">Describe EC2 instances</a><br>
<a href="http://localhost:8080/createEc2"></a>EC2 Create<br>
<a href="http://localhost:8080/stopEc2">EC2 Stop</a><br>


</body>

</html>