<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AWS EC2</title>
</head>

<body>

----------------------------------------------------------- <br>

----------------------------------------------------------- <br>
Instance ID : {{#instance_id}} {{.}} {{/instance_id}}<br>
AMI : {{#ami}} {{.}} {{/ami}} <br>
Type : {{#type}} {{.}} {{/type}} <br>
----------------------------------------------------------- <br>
State       : {{#state}} {{.}} {{/state}} <br>
Monitoring State   : {{#monitoring_state}} {{.}} {{/monitoring_state}} <br>
Launch Time : {{#launchTime}} {{.}} {{/launchTime}} <br>
Public DNS : {{#public_DNS}} {{.}} {{/public_DNS}} <br>
----------------------------------------------------------- <br>
State Transition : {{#stateTransition}} {{.}} {{/stateTransition}} <br>
----------------------------------------------------------- <br>
<a href="http://localhost:8080/descEc2?instance_id={{instance_id}}">인스턴스 정보출력</a><br>
----------------------------------------------------------- <br>
<a href="http://localhost:8080/monitoringList?instance_id={{instance_id}}">모니터링</a><br>
<a href="http://localhost:8080/logEc2?instance_id={{instance_id}}">인스턴스 정지 로그</a><br>
<a href="http://localhost:8080/descEc2?instance_id={{instance_id}}">인스턴스 정보출력</a><br>
----------------------------------------------------------- <br>
<a href="http://localhost:8080/startEc2?instance_id={{instance_id}}">인스턴스 시작</a><br>
<a href="http://localhost:8080/stopEc2?instance_id={{instance_id}}">인스턴스 정지</a><br>
<a href="http://localhost:8080/terminateEc2?instance_id={{instance_id}}">인스턴스 종료</a><br>

----------------------------------------------------------- <br>
<a href="http://localhost:8080/listEc2">인스턴스 목록</a><br>
----------------------------------------------------------- <br>
<a href="http://localhost:8080/logout">로그아웃</a><br>


</body>

</html>